.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario > div {
  display: flex;
}

.containerBotoes {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex: 1;

    width: 100%;
    gap: 20px; 
    padding: 15px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%; 
    min-height: 80px;
    
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid #fff;
    border-radius: 10px;
    
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    
    transition: background-color 0.2s, transform 0.2s;
}

.link:hover {
    background-color: #fff;
    color: #28a085; 
    transform: scale(1.05); 
}