.jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portas {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}

.botoes {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botoes button {
  background-color: #c0392c;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
}